html{
    font-size:16px;
    font-family:"Pixelify Sans",serif;
}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    height:100vh;
    width:100vw;
    background:linear-gradient(45deg,rgb(233, 240, 138),rgb(47, 96, 160))
}
#calculator{
    width:300px;
    border:1px solid black;
    
}
#calculatorScreen{
    font-size:2rem;
    padding:2rem;
    background-color:white;
}
#calculatorKeyboard .lineKey button{
    width:4.5rem;
    height:5rem;
    font-size:1.4rem;
    flex-grow:1;
    cursor:pointer;
    background-color:white;
}
#calculatorKeyboard{
   
    border:1px solid black;
}
.lineKey{
    display:flex;
    flex-wrap:wrap;
}
#calculator{
    border:1px solid black;
}
h1{
    text-align:center;
}
.calSkin{
   
    position:absolute;
    top:5%;
    right:10%;
    padding:3rem 2rem;
    border-radius:2rem;
    border:1px solid;
    width:370px;
    background-color:rgb(245, 164, 164);
    margin-top:2rem;
}
.board1{
    position:absolute;
    background-color:rgba(255,255,255,0.3);
    color:rgb(255, 255, 240);
    font-family:"Pixelify Sans",serif;
    font-size:2rem;
    width:400px;
    padding:1rem;
    align-self:center;
    margin-top:-15rem;
}
.board1{
    top:50%;
    left:15%;
}

.dogImg{
    width:75px;
    height:75px;
    border-radius:50px;
}

